{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{% block title %}Base-Template{% endblock %}</title>
        <!--bootstrap-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_v4.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
        <style>
            .alert-box{
                position: fixed;
                width: 350px;
                top: 20%;
                left: 50%;
                transform: translateX(-175px);
                z-index: 9999;
                text-align: center;
            }
        </style>
        {% block styles %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a href="/"><span class="navbar-text nav-link navbar-brand">Demo</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-nav">
            {{ render_nav_item('index', '河流图') }}
        </div>
    </nav>
{% endblock %}
<main>
    {# 消息 #}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} alert-box text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}

    {% block main %}
    {% endblock %}
    <footer>
        <div class="container-fluid">
            <hr>
            <p>
                <small class="float-left">&copy;2020 Written by xiaoniu</small>
            </p>
        </div>
    </footer>
</main>
<div id="alert-box" class="alert alert-success alert-box" style="display: none">
    <strong><span class="alert-message">提交成功，等待管理员审核</span></strong>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/dist/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dist/bootstrap_v4.min.js') }}"></script>
<script>
    /**
     * 显示/隐藏提示框
     * @param {boolean} isSuccess
     * @param {string} message 用于显示的消息
     */
    function toggle_alert(isSuccess, message){
        let alert_box = $("#alert-box");
        // 显示操作成功的提示框
        alert_box.find('.alert-message').text(message);
        if(isSuccess){
            alert_box.removeClass('alert-danger');
            alert_box.addClass('alert-success');
        }
        else {
            alert_box.addClass('alert-danger');
            alert_box.removeClass('alert-success');
        }
        alert_box.show(200);
        setTimeout(()=>{
            alert_box.hide(200);
        }, 2500)
    }
    //自动隐藏
    setTimeout(function () {
        $('.alert-box').hide(200);
    }, 2500);
    //提示框
    $(function (){
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
